canvas{
  padding: 0;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  border: 1px solid black;
  background-color: white;
}

p{
  text-align: center;
  font-family: impact;
}

*{
  background-color: #EAE2E0;
}
